body {
    background: hsl(212, 45%, 82%);
    font-size: 15px;
    font-family: "Outfit";
    text-align: center;
    color: hsl(220, 15%, 55%);
}

#main-column {
    background-color: white;
    border-radius: 20px;
}

/* Image in the main column */
#main-column img {
    border-radius: 20px;
}

/* The bolded paragraph */
.bolded-paragraph {
    font-size: 19px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

/* verwijder */
.container {
    background-color: pink;
    height: 100vh;
    width: 100vw;
}